:root {
  --primary: #12171d;
  --secondary: #232a33;
  --active: #eccc1991;
  --light: #fafafa;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
  background-color: var(--primary);
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background-color: var(--primary);
  color: var(--light);
}

/* html, body {
  margin:0;
  padding:0;
  height:100%;
} */

.noListStyle {
  list-style: none;
  text-decoration: none;
}

a {
	border-radius: 5px;
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

li span {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navActive {
  color: var(--active);
}

.fab {
  font-size: 3em;
  text-decoration: none;
}

.card {
  background-color: var(--secondary);
  border-radius: .25rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.form-control {
  background-color: var(--secondary);
  color: var(--light);
  border: none;
  border-radius: .25rem;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.form-control:focus {
  color: var(--light);
  background-color: var(--secondary);
}